<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-logo" routerLink="/home">
      <img src="images/cruz-santiago.svg" alt="CaminoApp Logo" class="logo-image" />
      CaminoApp
    </a>
    <ul class="navbar-links">
      <li class="flex items-center"><a routerLink="/stages" class="flex items-center">Stages</a></li>
      <li class="flex items-center"><a routerLink="/plan" class="flex items-center">Plan your Camino</a></li>
      <li class="flex items-center"><a routerLink="/accommodations" class="flex items-center">Accommodations</a></li>
      <li class="flex items-center"><a routerLink="/info" class="flex items-center">Information</a></li>
      <li class="relative flex items-center">
        <mat-icon class="cursor-pointer" [matMenuTriggerFor]="menu" >account_circle</mat-icon>
        <mat-menu #menu="matMenu" >
          <button mat-menu-item routerLink="/account">Account</button>
          <button *ngIf="authService.isAuthenticated()" mat-menu-item routerLink="/" (click)="logout()">Log out</button>
        </mat-menu>

      </li>
    </ul>
    <div class="navbar-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" *ngIf="isMenuOpen">
    <a routerLink="/stages" (click)="closeMenu()">Stages</a>
    <a routerLink="/plan" (click)="closeMenu()">Plan your Camino</a>
    <a routerLink="/accommodations" (click)="closeMenu()">Accommodations</a>
    <a routerLink="/info" (click)="closeMenu()">Information</a>
    <a routerLink="/account" (click)="closeMenu()">Account</a>
  </div>
</nav>
