.navbar {
  background-color: #ffffff;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /*padding: 0 250px 0 250px;*/
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #C8102E;
  margin-left: 20vw;
}

.navbar-logo:hover {
  color: #C8102E;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0 20vw 0 0;
}

.navbar-links li a {
  text-decoration: none;
  color: #656565;
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: #C8102E;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5rem;
  width: 2rem;
  cursor: pointer;
}

.navbar-toggle span {
  background-color: #7a7a7a;
  height: 0.2rem;
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-toggle:hover span {
  background-color: #C8102E;
}

.navbar-menu {
  display: none;
  flex-direction: column;
  background-color: #ffffff; /* Verde oscuro */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-menu a {
  text-decoration: none;
  color: #181818;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.navbar-menu a:hover {
  background-color: #F5F5F5;
}

@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-menu {
    display: flex;
  }
}
