<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-logo" routerLink="/">CaminoApp</a>
    <ul class="navbar-links">
      <li><a routerLink="/stages" >Stages</a></li>
      <li><a routerLink="/plan">Plan your Camino</a></li>
      <li><a routerLink="/accommodations">Accommodations</a></li>
      <li><a routerLink="/info">Information</a></li>
      <li><a routerLink="/settings">Settings</a></li>
    </ul>
    <div class="navbar-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" *ngIf="isMenuOpen">
    <a routerLink="/stages" (click)="closeMenu()">Stages</a>
    <a routerLink="/plan" (click)="closeMenu()">Plan your Camino</a>
    <a routerLink="/accommodations" (click)="closeMenu()">Accommodations</a>
    <a routerLink="/info" (click)="closeMenu()">Information</a>
    <a routerLink="/settings" (click)="closeMenu()">Settings</a>
  </div>
</nav>
