<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-logo" href="#">WayToSantiago</a>
    <ul class="navbar-links">
      <li><a href="#home">Home</a></li>
      <li><a href="#plan">Plan your Camino</a></li>
      <li><a href="#accommodations">Accommodations</a></li>
      <li><a href="#information">Information</a></li>
      <li><a href="#settings">Settings</a></li>
    </ul>
    <div class="navbar-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" *ngIf="isMenuOpen">
    <a href="#home" (click)="closeMenu()">Home</a>
    <a href="#plan" (click)="closeMenu()">Plan your Camino</a>
    <a href="#accommodations" (click)="closeMenu()">Accommodations</a>
    <a href="#information" (click)="closeMenu()">Information</a>
    <a href="#settings" (click)="closeMenu()">Settings</a>
  </div>
</nav>
