.footer {
  color: #656565;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #eeeeee;
}

.footer-content {
  font-size: 14px;
}

.footer p {
  margin: 5px 0;
}
