<div class="home-page">


  <div class="row">
    <div class="section">
      <h2>Stages</h2>
      <p>View the history of your and your friends' stages.</p>
      <button routerLink="/stages">View</button>
    </div>

    <div class="section">
      <h2>Trail Map</h2>
      <p>Check the trail map.</p>
      <button routerLink="/map">View Map</button>
    </div>
  </div>

  <div class="row">
    <div class="section">
      <h2>Information</h2>
      <p>Access all important information for your trip: maps, guides, and more.</p>
      <button routerLink="/info">Consult</button>
    </div>

    <div class="section">
      <h2>Accommodations</h2>
      <p>Discover accommodations such as hotels, hostels, and campsites along the Camino.</p>
      <button routerLink="/accommodations">See options</button>
    </div>
  </div>

  <div class="row single">
    <div class="section single">
      <h2>Settings</h2>
      <p>Adjust your preferences and personalize your experience in the app.</p>
      <button routerLink="/account">Settings</button>
    </div>
  </div>
</div>
